*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    cursor: default;
}

.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(images/image1.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.nav-bar{
    display: flex;
    padding: 40px 120px;
}

.nav-logo img{
    width: 85px;
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-left: 50px;
    display: inline;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 0;
    margin: 0 25px;
    cursor: pointer;
}

.nav-links ul a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    cursor: default;
}

.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: yellow;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after{
    width: 90%;
}

.btn{
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background: yellow;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.btn:hover{
    color: yellow;
    background: black;
    box-shadow: inset 0 0 0 2px yellow;
}

.nav-links .btn{
    float: right;
}

.title{
    margin: 80px 130px;
    color: white;
}

.title h1{
    font-size: 64px;
    margin-bottom: 30px;
}

.title h1 span{
    color: yellow;
}

.vertical-bar{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
}

.search-icon{
    height: 60%;
    width: 80px;
}

.search-icon .fa{
    margin: 45px 23px;
    color: white;
    display: block;
    font-size: 30px;
    cursor: pointer;
}

.social-icons{
    height: 35%;
    width: 80px;
    background: yellow;
    padding-top: 27%;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.social-icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1.5px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s, transform 0.4s ease;
}

.social-icons .fa:hover{
    background: black;
    color: yellow;
    transform: scale(1.3);
}

.notifications{
    display: flex;
    width: 400px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: yellow;
    align-items: center;
    /* transform: translateY(5px); */
}

.contents{
    flex-basis: 50%;
    padding: 10px;
}

.notification-img{
    display: flex;
    flex-basis: 50%;
    padding: 0;
    margin: 0;
}

.notification-img img{
    width: 100%;
}

.contents a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin: 0 10px;
    cursor: pointer;
}

.contents a:hover{
    text-decoration: underline;
    font-weight: 600;
}

.contents p{
    text-align: right;
    margin-top: 10px;
}

.nav-bar .fa{
    display: none;
}


@media (max-width: 980px){
    .nav-bar {
        padding-left: 90px;
        padding-right: 0;
    }
    
    .nav-links ul {
        margin-left: 0px;
    }

    .nav-links ul li {
        margin: 0 15px;
    }
}

@media (max-width: 700px){
    .vertical-bar{
        display: none;
    }
    .title{
        margin: 80px 40px;
    }
    .title h1{
        font-size: 50px;
    }
    .notifications{
        width: 100%;
    }
    .nav-bar{
        padding: 10px 30px;
    }
    .nav-bar .fa{
        position: absolute;
        right: 20px;
        top: 10px;
        color: white;
        display: block;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        top: -850px;
        right: 0;
        position: absolute;
        text-align: left;
        z-index: 2;
        text-align: center;
        transition: 0.5s;
    }
    .nav-links ul a{
        margin: 30px 0;
        display: block;
    }
    .nav-links .btn{
        float: none;
    }
}